@media (min-width: 1900px) and (max-width: 2900px) {
    /* .navbar {
        width: 70%;
        transform: translateX(20.5%);
    } */


    /* .container {
        max-width: 80%;
    } */

    .pd-join-inp {
        padding-top: 20rem;
    }

}

@media (min-width: 2000px) and (max-width: 2900px) {
    .pd-join-us-sec {
        padding-top: 10%;
    }

    .pd-ww-img-bg-1 {
        bottom: -9%;
    }

    .pd-ww-img-bg-2 {
        bottom: 17%;
    }

    .pd-ww-img-bg-3 {
        bottom: 15%;
    }

    .pd-ww-img-bg-4 {
        bottom: 18%;
    }
}

@media (max-width: 1500px) {
    .container {
        padding-right: calc(var(--bs-gutter-x)* 1) !important;
        padding-left: calc(var(--bs-gutter-x)* 1) !important;
    }

    .pd-cont-sec {
        padding-left: 3%;
    }
}

@media (max-width: 1380px) {
    .container {
        padding-right: calc(var(--bs-gutter-x)* 0.5) !important;
        padding-left: calc(var(--bs-gutter-x)* 0.5) !important;
    }
}


@media (min-width: 2000px) {
    .pd-partners-slider-sec .pd-part-1 {
        left: -32%;
        top: -87%;
        width: auto;
    }

    .pd-partners-slider-sec .pd-part-2 {
        right: -32%;
        top: -87%;
        width: auto;
    }
}

@media (min-width:1680px) {
    .container {
        max-width: 1670px;
    }
}

@media (min-height:870px) {
    .pd-main-banner {
        padding-top: 14rem;
    }
}


@media (min-width:1300px) and(max-width:1420px) {
    .pd-susgrid {
        min-width: 1370px;
        transform: scale(0.8);
        transform-origin: top left;
    }
}

@media (min-width:1300px) and (max-width:1610px) {
    .pd-bann-con-right {
        transform: scale(0.8);
        transform-origin: left top;
    }

    .pd-banner-content {
        padding-top: 0;
    }

    .pd-main-banner .align-items-center {
        align-items: flex-start !important;
    }

    .pd-gs-wrapper {
        transform: scale(0.8);
        transform-origin: left;
    }

    .pd-susgrid {
        min-width: 1370px;
    }
}



@media (min-width:1024px) and (max-width:1300px) {
    .pd-bann-con-right {
        transform: scale(0.7);
        transform-origin: left top;
    }

    .pd-banner-content {
        padding-top: 0;
    }

    .pd-banner-content {
        padding-top: 0;
    }

    .pd-main-banner .align-items-center {
        align-items: flex-start !important;
    }

    .pd-gs-wrapper {
        transform: scale(0.7);
        transform-origin: top left;
    }
    .pd-dep-card{
        max-width: 80%;
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .pd-bann-con-right {
        transform: scale(0.6);
        transform-origin: left top;
    }

    .pd-banner-content {
        padding-top: 0;
    }

    .pd-banner-content {
        padding-top: 0;
    }

    .pd-main-banner .align-items-center {
        align-items: flex-start !important;
    }

    .pd-banner-content h2 {
        font-size: 46px;
        line-height: normal;
    }

    .pd-gs-wrapper {
        transform: scale(0.7);
        transform-origin: top left;
    }
    .pd-dep-card{
        max-width: 100%;
    }
}

@media (max-width:992px) {
    .pd-dep-card{
        max-width: 100%;
    }

    .pd-partners-slider-sec .pd-sc-title {
        max-width: 50%;
        margin: auto;
    }

    .pd-em-serv {
        display: block;
        text-align: center;
    }

    .pd-em-serv .pdes-btn-wrapper {
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
    }

    .pd-em-serv div h4,
    .pd-em-serv div p {
        text-align: center;
    }

    .pd-bann-con-right {
        transform: scale(1);
        margin-top: 4rem;
        margin-right: auto;
        margin-left: unset;
    }

    .pd-main-banner {
        padding-top: 5%;
    }

}

@media (max-width:768px) {
    .pd-bann-con-right {
        transform: scale(0.5);
        transform-origin: top left;
        margin-top: 4rem;
        margin-right: auto;
        margin-left: unset;
    }

    .pd-main-banner {
        padding-top: 5%;
    }

    .pd-btn-div {
        display: block;
    }

    .pd-btn-div .pd-blue-btn {
        display: inline-block;
    }


    .pd-btn-div .pd-blue-btn-outlined {
        display: inline-block;
        margin-left: 0;
        margin-top: 1rem;
    }

    .pd-banner-content {
        padding-top: 2rem;
    }

    .pd-banner-content h2 {
        font-size: 40px;
        line-height: normal;
    }

    .pd-banner-content h2 span {
        font-size: 40px;
        line-height: normal;
    }

    .pd-bcr-crd {
        position: relative;
        margin-left: unset;
        transform: unset;
        width: 100%;
    }

    .pd-bcr-crd-1,
    .pd-bcr-crd-2 {
        overflow: hidden;
    }

    .pd-banner-star {
        top: 6%;
    }

    .pd-bcr-crd-2 {
        right: 0;
        margin-left: unset;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    .pd-bcr-crd-3 {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }

    .pd-bcr-rnd-lst-2 {
        position: unset;
        margin: 0;
        margin-top: 1rem;
    }

    .pd-bcr-txt-crd-1 {
        position: unset;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .pd-banner-star-2 {
        display: none;
    }

    .pd-bcr-rnd-lst-1 {
        position: unset;
        margin-top: 2rem;
    }

    .pd-bann-con-right {
        transform: unset;
        width: 100%;
        padding-bottom: 5%;
    }

    .pd-bcr-top-wrapper {
        width: 100%;
    }

    .pd-bcr-txt-crd-2 {
        max-width: 100%;
        position: unset;
        margin-top: 3rem;
    }

    .pd-centered-b {
        padding-bottom: 22rem;
    }

    .pd-light-title,
    .pd-light-blue-title,
    .pd-join-us-sec .pd-ss-titl h2, .pd-wordwide-sec .pd-ss-titl h2,
    .pd-startup-needs-sec .pd-sc-title h2,
    .pd-cont-fm-foot h2,
    .pd-cont-form h3 {
        font-size: 40px;
        line-height: normal;
    }

    .pd-review-sec .pd-dp-title-sc p {
        max-width: 100%;
    }

    .pd-subscription {
        padding-top: 8rem;
    }

    /* subscription section */
    .pd-row {
        display: block;
    }

    .pd-col-28,
    .pd-col-16,
    .pd-col-28,
    .pd-col-56 {
        max-width: unset;
    }

    .pd-ssg-2 {
        padding-bottom: 15rem;
        margin-top: 2rem;
    }

    .pd-ssg-sm-1 .pd-ssg-sm-ptn-svg {
        width: 100%;
    }

    .pd-ssg-3 {
        min-height: 600px;
    }

    .pd-ssg-3 h1 {
        bottom: -14rem;
    }

    .pd-tm-it-flex {
        display: block;
    }

    .pd-ssg-4 {
        height: fit-content;
        padding: 1.5rem;
        margin-top: 2rem;
    }

    .pd-ssg-5 {
        background-size: cover;
    }

    .pd-ssg-5 div {
        width: 100%;
    }

    .pd-dep-card,
    .pd-dc-btn {
        width: 100%;
        max-width:100%;
    }

    .pd-dc-btn {
        width: 100%;
        display: block;
        text-align: center;
    }

    .pd-dc-btn .col-2,
    .pd-dc-btn .col-8,
    .pd-dep-card h3,
    .pd-dep-card p {
        width: 100%;
        text-align: center;
    }

    .pd-join-us-sec .pd-ss-titl p, .pd-wordwide-sec .pd-ss-titl p,
    .pd-em-serv p{
        max-width: 100%;
    }

    .pd-wws-mp-sv{
        width: 100%;
        height: auto;
    }

    .pd-cont-form{
        border-radius: 0;
        margin-right: 30px;
    }

    .pd-cont-form{
        padding: 3rem;
        padding-top: 3rem;
    }

    .pd-partners-slider-sec .pd-sc-title{
        max-width: 65%;
    }

    .pd-rev-tab .pd-tb-cont h2{
        font-size: 18px;
        line-height: 25px;
    }
    .pd-rev-tab .pd-tb-cont{
        padding: 2rem;
    }

    .pd-serv-m-c{
        margin-top: 0;
    }

    .pd-startup-needs-sec .pd-sc-title p{
        max-width: 85%;
    }

    .pd-sn-sec-wrpp .nav-tabs{
        background: transparent;
        box-shadow: none;
        text-align: center;
        justify-content: center;
    }

    .pd-sn-sec-wrpp .nav-tabs .nav-link.active{
        color: white;
    }

    .pd-cont-form input, .pd-cont-form textarea{
        width: 100%;
    }

}