/* banner */

/* --fnt-dmsans: "DM Sans", sans-serif;
--fnt-rubik: "Rubik", sans-serif;
--paddingTop:4%;
--paddingBottom:4%;
--paraColor:"#F9FCFF";
--paraSize:"13px";
--defWeight:"400";
--BlueheaderWeight:"700";
--whiteHeaderWeight:"600";
--siteBlue:"#3D45FF";
--sitePurple:"#8A2EFF"; */

.pd-main-banner {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    min-height: 300vh;
    position: relative;
    padding-top: 10rem;
}

.pd-center-grad {
    position: absolute;
    right: 7%;
    width: 40%;
    top: 5%;
}

.pd-left-grad {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pd-top-grad {
    position: absolute;
    left: -5%;
    top: 0;

}

.pd-main-banner .container {
    position: relative;
    z-index: 9;
}

.pd-white-heading {
    font-size: 65px;
    font-weight: 400;
    color: var(--paraColor);
    margin-bottom: 0;
    position: relative;
    z-index: 99;
}

.pd-blue-heading {
    font-size: 65px;
    font-weight: 400;
    color: var(--sitePurple);
    position: relative;
    z-index: 99;
}

.pd-banner-content {
    padding-top: 6rem;
    position: relative;
}

.pd-dots-1 {
    position: absolute;
    left: 2%;
    top: 30%;
}

.pd-dots-2 {
    position: absolute;
    right: 9%;
    bottom: 0;
}

.pd-dots-3 {
    position: absolute;
    right: 23%;
    bottom: 7%;
}

.pd-grid {
    position: absolute;
    right: 7%;
    top: 21rem;
    opacity: 0.1;
    z-index: 9;
}

.pd-mach-svg {
    position: relative;
    z-index: 9;
}

.pd-mach-svg-shadow{
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: radial-gradient(48% 38% at 49% 50%, rgb(24 26 147 / 90%) 0%, rgb(255 255 255 / 0%) 100%);
    top: 6rem;
    transform: rotate(20deg);
    right: 17rem;
}

.pd-ec-s {
    position: absolute;
    right: 0;
    top: 0;
}

.pd-ec-m {
    position: absolute;
    right: 4rem;
    top: -5rem;
}

.pd-ec-l {
    position: absolute;
    right: 7rem;
    top: -5rem;
}

.pd-cod-ls {
    position: absolute;
    top: 53%;
    z-index: 9;
    right: 25%;
}

.pd-cod-ls svg {
    filter:brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(4848%) hue-rotate(258deg) brightness(97%) contrast(109%) opacity(0.9);
    margin-right: -22px;
}


/* navbar */

@media (min-width:992px) {
    .navbar {
        position: absolute;
        z-index: 9999;
        width: 70%;
        margin: auto;
        transform: translateX(25%);
        padding: 16px;
        background-color: var(--darkBg) !important;
        top: 4%;
        border-radius: 100px;
        opacity: 1;
        background: radial-gradient(80% 180% at 50% 50%, rgba(255, 255, 255, 0.005) 13%, rgb(255 255 255 / 14%) 85%);
        box-sizing: border-box;
        /* border: 1px solid; */
        /* border-image: linear-gradient(126deg, rgba(201, 203, 255, 0.2) 33%, rgba(255, 255, 255, 0.3) 41%, rgba(255, 255, 255, 0) 53%, rgba(224, 191, 240, 0) 61%, #C27FE2 76%) 1; */
        backdrop-filter: blur(40px);
        overflow: hidden;
    }

    .pd-nav-grad{
        width: 29%;
        height: 150px;
        position: absolute;
        background-color: #8A2EFF;
        left: -28px;
        background: linear-gradient(89deg, #5a0f8d -7%, #580f8e -1%, transparent);
        top: -55%;
        border-radius: 100%;
    }
    

    .nav-link {
        color: var(--paraColo) !important;
        font-size: 16px;
        font-family: var(--fnt-dmsans);
        margin: 0;
        padding: 0 22px !important;
    }

    ul.navbar-nav {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand .pd-logo-main-nav{
        width: auto;
        margin-top: -9px;
        height: 34px;
        object-fit: contain;
    }

    .navbar .container-fluid{
        position: relative;
    }

}

.pd-triang-grad{
    width: 50rem;
    height: 21rem;
    position: absolute;
    z-index: 99;
    background-color: #8A2EFF;
    transform: rotate(326deg);
    left: -23rem;
    background: radial-gradient(65% 74% at 75% 92%, rgb(235 0 255) 0%, rgb(127 36 243) 67%);
    opacity: 0.4;
    top: -6rem;
}

.pd-triang-grad-2{
    width: 50rem;
    height: 21rem;
    position: absolute;
    background: linear-gradient(89deg, #5a0f8d -7%, #580f8e -1%, transparent);
}

.pd-nav-grad-tl-img{
    position: absolute;
    left: -11rem;
    top: -28rem;
    z-index: 9;
    width: 65rem;
    transform: rotate(4deg);
}

.pd-banner-content::after{
    content: "";
    position: absolute;
    width: 39rem;
    height: 16rem;
    background: radial-gradient(48% 38% at 49% 50%, rgba(24, 26, 147, 0.5) 0%, rgb(24 26 147 / 0%) 100%);
    top: 0rem;
    transform: rotate(20deg);
    left: -4rem;
}