/* banner */

/* --fnt-dmsans: "DM Sans", sans-serif;
--fnt-rubik: "Rubik", sans-serif;
--paddingTop:4%;
--paddingBottom:4%;
--paraColor:"#F9FCFF";
--paraSize:"13px";
--defWeight:"400";
--BlueheaderWeight:"700";
--whiteHeaderWeight:"600";
--siteBlue:"#3D45FF";
--sitePurple:"#8A2EFF"; */

.pd-main-banner {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10%;
    overflow: hidden;
}

.pd-center-grad {
    position: absolute;
    right: 7%;
    width: 40%;
    top: 5%;
}

.pd-left-grad {
    position: absolute;
    left: 0;
    bottom: 30rem;
}

.pd-top-grad {
    position: absolute;
    left: -5%;
    top: 0;

}

.pd-main-banner .container {
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.pd-white-heading {
    font-size: 65px;
    font-weight: 400;
    color: var(--paraColor);
    margin-bottom: 0;
    position: relative;
    z-index: 99;
}

.pd-blue-heading {
    font-size: 65px;
    font-weight: 400;
    color: var(--sitePurple);
    position: relative;
    z-index: 99;
}

.pd-banner-content {
    padding-top: 6rem;
    position: relative;
}

.pd-dots-1 {
    position: absolute;
    left: 2%;
    top: 15rem;
}

.pd-dots-2 {
    position: absolute;
    right: 9%;
    top: 16rem;
}

.pd-dots-3 {
    position: absolute;
    right: 23%;
    top: 0rem;
}

.pd-grid {
    position: absolute;
    right: 7%;
    top: 21rem;
    opacity: 0.1;
    z-index: 9;
}

.pd-mach-svg {
    position: relative;
    z-index: 9;
}

.pd-mach-svg-shadow {
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: radial-gradient(48% 38% at 49% 50%, rgb(24 26 147 / 90%) 0%, rgb(255 255 255 / 0%) 100%);
    top: 6rem;
    transform: rotate(20deg);
    right: 17rem;
}

.pd-ec-s {
    position: absolute;
    right: 0;
    top: 0;
}

.pd-ec-m {
    position: absolute;
    right: 4rem;
    top: -5rem;
}

.pd-ec-l {
    position: absolute;
    right: 7rem;
    top: -5rem;
}

.pd-cod-ls {
    position: absolute;
    top: 16.4rem;
    z-index: 9;
    right: 25%;
}

.pd-cod-ls svg {
    filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(4848%) hue-rotate(258deg) brightness(97%) contrast(109%) opacity(0.9);
    margin-right: -22px;
}


/* navbar */

@media (min-width:992px) {
    .navbar {
        position: absolute;
        z-index: 9999;
        width: 70%;
        margin: auto;
        transform: translateX(25%);
        padding: 16px;
        background-color: var(--darkBg) !important;
        top: 4%;
        border-radius: 100px;
        opacity: 1;
        background: radial-gradient(80% 180% at 50% 50%, rgba(255, 255, 255, 0.005) 13%, rgb(255 255 255 / 14%) 85%);
        box-sizing: border-box;
        /* border: 1px solid; */
        /* border-image: linear-gradient(126deg, rgba(201, 203, 255, 0.2) 33%, rgba(255, 255, 255, 0.3) 41%, rgba(255, 255, 255, 0) 53%, rgba(224, 191, 240, 0) 61%, #C27FE2 76%) 1; */
        backdrop-filter: blur(40px);
        overflow: hidden;
    }

    .pd-nav-grad {
        width: 29%;
        height: 150px;
        position: absolute;
        background-color: #8A2EFF;
        left: -28px;
        background: linear-gradient(89deg, #5a0f8d -7%, #580f8e -1%, transparent);
        top: -55%;
        border-radius: 100%;
    }


    .nav-link {
        color: var(--paraColo) !important;
        font-size: 16px;
        font-family: var(--fnt-dmsans);
        margin: 0;
        padding: 0 22px !important;
    }

    ul.navbar-nav {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand .pd-logo-main-nav {
        width: auto;
        margin-top: -9px;
        height: 34px;
        object-fit: contain;
    }

    .navbar .container-fluid {
        position: relative;
    }

}

.pd-triang-grad {
    width: 50rem;
    height: 21rem;
    position: absolute;
    z-index: 99;
    background-color: #8A2EFF;
    transform: rotate(326deg);
    left: -23rem;
    background: radial-gradient(65% 74% at 75% 92%, rgb(235 0 255) 0%, rgb(127 36 243) 67%);
    opacity: 0.4;
    top: -6rem;
}

.pd-triang-grad-2 {
    width: 50rem;
    height: 21rem;
    position: absolute;
    background: linear-gradient(89deg, #5a0f8d -7%, #580f8e -1%, transparent);
}

.pd-nav-grad-tl-img {
    position: absolute;
    left: -11rem;
    top: -28rem;
    z-index: 9;
    width: 65rem;
    transform: rotate(4deg);
}

.pd-banner-content::after {
    content: "";
    position: absolute;
    width: 39rem;
    height: 16rem;
    background: radial-gradient(48% 38% at 49% 50%, rgba(24, 26, 147, 0.5) 0%, rgb(24 26 147 / 0%) 100%);
    top: 0rem;
    transform: rotate(20deg);
    left: -4rem;
}

/* btn div */

.pd-btn-div {
    display: flex;
    align-items: center;
    margin-top: 2.2rem;
    position: relative;
}

.pd-blue-btn {
    border-radius: 50px;
    opacity: 1;
    background: linear-gradient(90deg, #6924F3 0%, #4C67D2 100%);
    box-sizing: border-box;
    border: 2px solid #F9FCFF;
    box-shadow: 0px 0px 15px 0px rgba(249, 252, 255, 0.5);
    text-decoration: none;
    padding: 12px 30px;
    min-width: 180px;
    text-align: center;
    font-weight: 600;
}

.pd-btn-div p {
    font-family: var(--fnt-dmsans);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #F9FCFF;

    max-width: 250px;
    margin-bottom: 0;
    margin-left: 25px;
}

.pd-icon-bann-div {
    background: linear-gradient(152deg, rgba(249, 252, 255, 0.38) 23%, rgba(249, 252, 255, 0.38) 29%, rgba(149, 151, 153, 0.02) 72%);
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    width: 205px;
    text-align: center;
    justify-content: space-around;
    padding: 8px;
    display: flex;
    align-items: center;
}

.pd-icon-bann-div div {
    border-radius: 5px;
    opacity: 1;
    background: rgba(206, 115, 214, 0.61);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pd-icon-bann-div div svg {}

.pd-icon-bann-div p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #F9FCFF;
    font-family: var(--fnt-rubik);
    text-align: left;
}

.pd-ibd-1 {
    top: 13.7rem;
    position: absolute;
    z-index: 99;
    right: 30%;
    width: 170px;
}

.pd-ibd-2 {
    top: 7.7rem;
    position: absolute;
    z-index: 99;
    width: 190px;
    right: 11%;
}

.pd-ibd-3 {
    top: 27.5rem;
    position: absolute;
    z-index: 99;
    right: 13.5%;
}

/* counter sec */

.pd-count-sec {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
}

.pd-count-card {
    border-radius: 100px;
    opacity: 1;
    background: radial-gradient(80% 180% at 50% 50%, rgba(255, 255, 255, 0.005) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-sizing: border-box;
    border: 2px solid;
    /* border-image: linear-gradient(209deg, rgba(79, 34, 255, 0.7) 15%, rgba(255, 255, 255, 0.3) 33%, rgba(255, 255, 255, 0) 64%, rgba(204, 10, 243, 0) 81%, #CC0AF3 118%) 2; */
    backdrop-filter: blur(20px);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 6rem;
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.pd-count-sec h1 {
    font-size: 90px;
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #939df6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}

.pd-count-sec h2 {
    font-family: var(--fnt-dmsans);
    font-size: 32px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
    margin-bottom: 5rem;
}

.pd-count-sec h4 {
    font-size: 60px;
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}


.pd-count-sec p {
    font-family: var(--fnt-dmsans);
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
}

.pd-partners-slider {}

.pd-partners-slider h2 {
    font-family: var(--fnt-rubik);
    font-size: 20px;
    font-weight: 300;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
    text-transform: uppercase;
}

.pd-logo-slider {
    margin-top: 4rem;
}

.pd-logo-slider img {
    object-fit: contain;
    height: 140px;
}

.pd-gbl {
    position: absolute;
    left: -40%;
    bottom: -10rem;
    width: auto;

}

.pd-gbr {
    position: absolute;
    right: -40%;
    bottom: -6rem;
    width: auto;

}

.pd-l-s {
    position: absolute;
    left: -7%;
    bottom: 20%;
}

.pd-r-s {
    position: absolute;
    right: -1%;
    bottom: 22%;
}

/* departments */

.pd-departments {
    padding-top: 12%;
    padding-bottom: 10%;
    position: relative;
}

.pd-departments::before {
    content: "";
    background: url(../img/sec-grad-line.png);
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.pd-dp-title-sc h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0em;
    color: #333333;
    text-transform: uppercase;
    font-family: var(--fnt-dmsans);
}

.pd-dp-title-sc h4 svg {
    margin-top: -2rem;
    margin-right: -1.4rem;
}

.pd-dp-title-sc {
    margin-bottom: 5rem;
}

.pd-dip-grad-box {
    position: relative;
    width: 100%;
    padding: 205px 32px 40px 60px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 11px;
    opacity: 1;
}

.pd-pink-gb {
    background: radial-gradient(156% 81% at 49% 100%, #BD24F3 0%, #191919 100%);
}

.pd-purple-gb {
    background: radial-gradient(149% 78% at 49% 100%, rgba(20, 0, 255, 0.7) 0%, #191919 100%);
}

.pd-dk-purple-gb {
    height: calc(100% - 40px);
    background: radial-gradient(255% 172% at 80% 12%, #191919 0%, #8000FF 100%);
}

.pd-dip-grad-box h2 {
    font-size: 128px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #F9FCFF;
    font-family: var(--fnt-rubik);
    line-height: 128px;
    margin-bottom: 0;
    position: relative;
}

.pd-dip-grad-box h2 sup {
    font-size: 80px;
    position: absolute;
    top: 7px;
}

.pd-dip-grad-box h6 {
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    color: #F9FCFF;
    font-family: var(--fnt-rubik);
    letter-spacing: 0.5px;
}

.pd-dip-grad-box p {
    font-family: var(--fnt-dmsans);
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    color: #F9FCFF;
    margin-top: 2rem;
    max-width: 70%;
}

.pd-dip-grad-box .pd-gb-lw {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(62%);
    align-items: center;
    left: 28px;
}

.pd-dip-grad-box .pd-r-img {
    position: absolute;
    right: -9rem;
    bottom: -4rem;
}

.pd-dip-grad-box div svg {
    margin-top: 12px;
}

.pd-dip-grad-box.pd-centered-b .pd-gb-lw {
    transform: translateY(0);
}

.pd-credt {
    display: flex;
    align-items: center;
    font-family: var(--fnt-dmsans);
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;
    color: #4D4D4D;
    justify-content: flex-end;
    margin-top: -1rem;
}

.pd-credt img {
    width: 56px;
    margin-left: 6px;
    height: 16px;
    object-fit: contain;
    object-position: left;
    margin-top: -1px;
}

.pd-credt span {
    opacity: 1;
    background: #191919;
    border-top: 0.5px solid #4D4D4D;
    width: 150px;
    height: 1px;
}

/* subscription section */

.pd-subscription {
    padding-bottom: 10%;
    position: relative;
}

.pd-subscription .container {
    position: relative;
    z-index: 9;
}

.pd-subscription::before {
    content: "";
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(76, 103, 210, 0.4) 0%, rgba(76, 103, 210, 0) 100%);
    top: -6%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translateX(-48%);
}

.pd-subscription .pd-sc-title h2 {
    text-align: center;
    /* Everything you get with your */
    font-family: var(--fnt-rubik);
    font-weight: 400;
    font-size: 55px;
    color: #333333;
    margin-bottom: 7rem;
    letter-spacing: 0.1rem;
}

.pd-subscription .pd-sc-title h2 span {
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}


.pd-subscription .pd-sc-title h3 {
    text-align: center;
    font-family: var(--fnt-rubik);
    font-weight: 400;
    font-size: 35px;
    color: #333333;
    margin-bottom: 3rem;
}

.pd-subscription .pd-sc-title h3 span {
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}

.pd-subscription .pd-sc-title {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.pd-row {
    display: flex;
    flex-wrap: wrap;
}

.pd-col-28 {
    flex: 0 0 28%;
    max-width: 28%;
    padding-left: 10px;
    padding-right: 10px;
}

.pd-col-16 {
    flex: 0 0 16%;
    max-width: 16%;
    padding-left: 10px;
    padding-right: 10px;
}

.pd-susgrid h4 {
    font-family: var(--fnt-rubik);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 1rem;
    position: relative;
    z-index: 9;
}

.pd-susgrid .pd-ssg-subtitle {
    font-family: var(--fnt-rubik);
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 0px;
    position: relative;
    z-index: 9;
}

.pd-susgrid p {
    font-family: var(--fnt-dmsans);
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0em;
    color: #676565;
    position: relative;
    z-index: 9;
}

.pd-ssg-1 {
    border-radius: 11px;
    opacity: 1;
    background: #F1F1FE;
    padding: 38px 60px 85px;
    position: relative;
    overflow: hidden;
}

.pd-s-ssg-inp {
    position: relative;
    margin-top: 5rem;
}

.pd-s-ssg-inp input {
    border-radius: 5px;
    opacity: 1;
    background: #F8F9FB;
    box-sizing: border-box;
    /* PrimaryGradient */
    border: 2px solid;
    /* border-image: linear-gradient(90deg, #6922F3 0%, #4378C8 49%, #6922F3 100%) 2; */
    box-shadow: 0px 0px 20px 0px rgba(61, 69, 255, 0.8), inset 0px 0px 9.2px 0px #3D45FF;
    padding: 13px 37px 13px 28px;
    width: 100%;
    font-size: 12px;
}

.pd-s-ssg-inp span {
    position: absolute;
    left: 10px;
    top: 12px;
}

.pd-s-ssg-inp svg {
    position: absolute;
    top: 11px;
    right: 11px;
}

.pd-s-ssg-gd {
    background: radial-gradient(50% 50% at 50% 50%, #6A24F3 0%, rgba(106, 36, 243, 0) 100%);
    position: absolute;
    width: 139%;
    height: 131%;
    bottom: -15rem;
    right: -4rem;
}

.pd-s-ssg-gd-str {
    position: absolute;
    bottom: -22%;
    width: auto;
    right: 0;
}

.pd-ssg-2 {
    background: #EFF5FC;
    min-height: 100%;
}

.pd-s-ssg-gd-waw {
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
}

.pd-s-ssg-gd-phn {
    transform: translateY(65%) translateX(7.5%);
    width: 85%;
    margin: auto;
    bottom: 0;
    position: absolute;
    left: 0;
}

.pd-ssg-2-grad {
    background: radial-gradient(42% 46% at 50% 50%, rgba(243, 38, 173, 0.3) 0%, rgba(243, 38, 173, 0) 100%);
    position: absolute;
    width: 178%;
    height: 170%;
    bottom: -8rem;
    right: -8rem;
}

.pd-ssg-3 {
    min-height: 500px;
    padding: 38px;
}

.pd-ssg-3 p {
    position: relative;
}

.pd-ssg-3 h4 {
    font-family: var(--fnt-rubik);
    font-size: 32px;
    font-weight: normal;
    line-height: 33px;
    letter-spacing: 0em;
    color: #333333;
}

.pd-ssg-3 .pd-ssg-2-grad {
    height: 100%;
    background: radial-gradient(36% 39% at 50% 50%, #F326AD 0%, rgba(243, 38, 173, 0) 100%);
    bottom: -12rem;
    right: -7rem;
    width: 208%;
}

.pd-s-ssg-cv-ld {
    width: 83%;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9;
}

.pd-ssg-3 h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
    position: relative;
    z-index: 9;
    bottom: -5rem;
    left: -2rem;
}

.pd-mb-20 {
    margin-bottom: 20px;
}

.pd-s-ssg-gd-llsi {
    width: 100%;
    bottom: -13%;
    position: absolute;
    left: 0;
}

.pd-col-56 {
    flex: 0 0 56%;
    max-width: 56%;
    padding-left: 10px;
    padding-right: 10px;

}

.pd-ssg-4 {
    height: 240px;
}

.pd-ssg-5 {
    height: 240px;
    margin-top: 20px;
}

.pd-s-ssg-gd-sprl {
    position: absolute;
    right: -3rem;
    top: -55%;
}

.pd-s-ssg-team {
    width: 16rem;
    margin-top: 5px;
    margin-bottom: 14px;
}

.pd-tm-it-flex {
    display: flex;
    flex-wrap: wrap;

}

.pd-tm-it-flex div {
    flex: 0 0 25%;
    min-width: 25%;
    align-items: center;
    display: flex;
    align-items: center;
}

.pd-tm-it-flex div img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: bottom;
    margin-right: 3px;
    margin-top: -2px;
}

.pd-tm-it-flex div p {
    margin: 0;
    font-size: var(--fnt-rubik);
    font-size: 13px;
    font-weight: normal;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0em;
    color: #333333;
}

.pd-ssg-5 {
    display: flex;
    align-items: center;
    background-image: url(../img/le-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 104%;
    position: relative;
    padding: 38px;
}

.pd-ssg-5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(-5px);
    left: 0;
    top: 0;
    background: #6435fc45;
}

.pd-ssg-5 div {
    position: relative;
    z-index: 9;
    color: white;
    width: 60%;
}

.pd-ssg-5 p {
    color: white !important;
}

.pd-ssg-5 h4 {
    color: white;
}

.pd-s-ssg-gd-crown {
    position: absolute;
    width: 56%;
    top: -7rem;
    right: -7rem;
    mix-blend-mode: overlay;
    opacity: 0.7;
}

.pd-ssg-sm-1 {
    margin-bottom: 20px;
    padding: 10px 30px;
    min-height: 200px;
}

.pd-ssg-sm-2 {
    min-height: 200px;
}

.pd-h-100 {
    height: 100%;
}

.pd-ssg-sm-1 .pd-s-ssg-sm-ptn {
    position: absolute;
    bottom: 0;
    width: 148%;
    left: -5rem;
    opacity: 0.7;
}

.pd-ssg-sm-1 .pd-ssg-sm-ptn-svg {
    position: relative;
    z-index: 9;
    left: -2.7rem;
    top: -0.5rem;
}

.pd-ssg-sm-2 .pd-s-ssg-gd {
    width: 275%;
    height: 258%;
    bottom: -17rem;
    right: -13rem;
    background: radial-gradient(44% 40% at 50% 50%, rgba(61, 69, 255, 0.7) 0%, rgba(61, 69, 255, 0) 100%);

}

.pd-ssg-sm-footprint {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* dep-card */

.pd-dep-card-sec {
    padding-top: 5%;
    padding-bottom: 20%;
    position: relative;
}

.pd-dep-card-sec-bt-grad {
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}


.pd-dep-card-sec .container {
    position: relative;
    z-index: 9;
}

.pd-dep-c-grd-1 {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgb(76 103 210 / 72%) 0%, rgba(76, 103, 210, 0) 100%);
    top: 1%;
    left: 10%;
    width: 42%;
    height: 80%;
}


.pd-dep-c-grd-2 {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgb(76 103 210 / 72%) 0%, rgba(76, 103, 210, 0) 100%);
    top: 1%;
    right: 10%;
    width: 42%;
    height: 80%;
}


.pd-dep-card {
    max-width: 65%;
    margin: auto;
    text-align: center;
    background: white;
    border-radius: 45px;
    padding: 40px 40px 35px;
}

.pd-dep-card h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;
    /* Take a deeper dive into our */
    color: #000000;

}

.pd-dep-card h2 span {
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}

.pd-dc-btn img {
    width: 50px;
}

.pd-dc-btn {
    align-items: center;
    margin: 18px auto;
    width: 65%;
    border: 1px solid;
    padding: 18px 10px;
    border-radius: 84px;
}

.pd-dep-card h3 {
    text-align: left;
    margin-bottom: 1px;
}

.pd-dep-card p {
    color: #000000;
    text-align: left;
    margin-bottom: 1px;
}

.pd-dc-btn h1 {
    font-weight: 200;
    color: #4c67d2;
    font-size: 4rem;
    margin-bottom: 0;
}

/* .pd-dep-card-sec::after {
    content: "";
    background: linear-gradient(180deg, rgba(43, 31, 77, 0) 7%, #0052B4 87%);
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0%;
    left: 0;
} */

/* review */

.pd-review-sec {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    background: #191919;
}

.pd-review-sec::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(106, 36, 243, 0) 7%, #0052B4 87%);
    height: 29.88%;
}

.pd-rt-s {
    margin-bottom: 2rem;
}

.pd-rt-s h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
    /* Our */
    font-family: var(--fnt-rubik);
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 64px;
}

.pd-rt-s p {
    font-family: var(--fnt-dmsans);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0em;
    color: #F9FCFF;
    font-weight: 500;
    width: 48%;
    margin: auto;
    font-weight: 400;
}

.pd-rs-bg-i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pd-review-sec .container {
    position: relative;
    z-index: 9;
}

/* review tab */

.pd-rev-tab .pd-tb-cont h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 31px;
    letter-spacing: 0em;
    color: #575758;
    margin-bottom: 2.5rem;
}

.pd-rev-tab .pd-tb-cont h5 {
    letter-spacing: 0em;
    color: #333333;
    /* Hania Bashir */
    font-family: var(--fnt-rubik);
    font-weight: 400;
    font-size: 16px;
}

.pd-rev-tab .pd-tb-cont {
    padding: 4rem 3rem;
}


.pd-rev-tab .pd-tb-cont h2 {
    font-size: 34px;
    font-weight: normal;
    line-height: 43px;
    letter-spacing: 0em;
    color: #575758;
    font-family: var(--fnt-rubik);
    max-width: 80%;
}


.pd-rev-tab {
    max-width: 75%;
    margin: 4rem auto;
}

.pd-rev-tab .pd-tb-inner-wrpp .col-md-3 {
    padding-right: 0;
}


.pd-rev-tab .pd-tb-inner-wrpp {
    background: #ECEFF2;
    border-radius: 9px;
    overflow: hidden;
}


.pd-rev-tab .pd-tb-re-lg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.pd-rev-tab .pd-tb-foot {
    background: url('../img/tb-footerbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding: 35px 20px;
    border: 4px solid #eceff2;
    border-radius: 9px;
}


.pd-rev-tab .col-md-9 {
    padding-left: 0;
}


.pd-rev-tab .pd-tb-foot p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.85);
    font-family: var(--fnt-rubik);
}


.pd-rev-tab .pd-tb-foot h3 {
    font-family: var(--fnt-rubik);
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0;
}


.pd-rev-tab .pd-tb-re-lg img {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.pd-rev-tab .nav-tabs {
    margin-bottom: 1rem;
    border: none;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 1rem;
}

.pd-rev-tab .nav-link {
    font-family: var(--fnt-rubik);
    font-size: 24px;
    font-weight: 300;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0em;
    color: #ECEFF2;
    position: relative;
    border: none;
}

.pd-rev-tab .nav-link:hover {
    border: none;
}

.pd-rev-tab .nav-link.active {
    background: transparent;
    border: none;
}

.pd-rev-tab .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid white;
    border-radius: 25px;
    background: linear-gradient(180deg, #ffffff47, #ffffff1c);
    transition: all 0.7s;
    transform: translateY(140%);

}



.pd-rev-tab .nav-link:hover::after,
.pd-rev-tab .nav-link.active::after {
    transform: translateY(0%);
}

.pd-rev-tab .nav-item {
    margin: 0 1rem;
}

.pd-rev-box {
    border-radius: 11px;
    opacity: 1;
    /* glass */
    background: linear-gradient(173deg, rgba(249, 252, 255, 0.38) -27%, rgba(249, 252, 255, 0.38) -14%, rgba(149, 151, 153, 0.02) 87%);
    box-sizing: border-box;
    border: 1px solid #D5D6D6;
    backdrop-filter: blur(40px);
    display: inline-block;
    padding: 28px;
}


.pd-rev-box h2 {
    font-size: 64px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    font-family: var(--fnt-rubik);
    color: rgba(255, 255, 255, 0.85);
    line-height: 40px;
    margin-bottom: 15px;
}

.pd-rev-box p {
    font-size: 14px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    color: #F9FCFF;
    font-family: var(--fnt-rubik);
    margin-bottom: 4px;
    padding-left: 3px;
}

.pd-rev-box div {
    display: flex;
    align-items: center;
}

.pd-rev-box img {
    margin-right: 2px;
}

.pd-rb-1 {
    position: absolute;
    bottom: 28%;
    left: 12%;
}

.pd-rb-2 {
    position: absolute;
    bottom: 15%;
    left: 26%;
}

.pd-rb-3 {
    position: absolute;
    bottom: 2%;
    left: 12%;
}

.pd-rs-bg-bottm-grad{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.pd-rs-bg-bottm-grad-line{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.pd-rs-bg-top-grad-line{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

/* services slider */

.pd-serv-sld-sec {
    padding-top: 15%;
    padding-bottom: 10%;
    position: relative;
    overflow: hidden;
}

.pd-serv-sld-gry {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.pd-ss-titl h2 {
    text-align: center;
    letter-spacing: 0em;
    /* Access */
    font-family: var(--fnt-rubik);
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 2rem;
    /* Access */
    color: #333333
}

.pd-ss-titl {
    margin-bottom: 10rem;
}

.pd-ss-titl span {
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}


.pd-ss-titl p {
    font-family: var(--fnt-dmsans);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0em;
    /* Get a gist of services and experience your startup grow exponentially. Build a */
    color: rgba(51, 51, 51, 0.8);
    /* . */
    color: #5B5B5C;
    max-width: 50%;
    margin: auto;
}

.pd-ss-titl span {
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}

.pd-services-slider p {
    color: #676565;
}

.pd-sv-sld-item {
    position: relative;
    min-height: 450px;
}

.pd-sv-bg-l {
    position: absolute;
    top: 5%;
    left: 0%;
}

.pd-sv-bg-s {
    position: absolute;
    top: 22%;
    left: 0%;
}

.pd-sv-bg-emb {
    position: absolute;
    right: 25%;
    bottom: 21%;
}

.pd-sv-sld-item h2 {
    font-family: var(--fnt-rubik);
    font-size: 29px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0em;
    color: #373636;
}

.pd-sv-sld-item p {
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    max-width: 80%;
}

.pd-ss-it-content{
    width: 50%;
    position: relative;
    left: 11%;
}

.pd-ss-it-content-sm{
    padding-top: 16%;
}


.pd-sv-sld-item label{
    color: white;
    opacity: 1;
    padding: 14px 20px;
    font-size: 12px;

}

.pd-sv-sld-item label span{
    z-index: 99;
    position: relative;
}

.pd-sv-sld-item label::after{
    content: "";
    width: 120%;
    top: -6%;
    height: 120%;
    position: absolute;
    border-radius: 50px;
    color: white;
    opacity: 1;
    background: linear-gradient(161deg, rgb(249 252 255 / 30%) 5%, rgb(198 198 198 / 55%) 13%, rgb(159 159 159 / 0%) 78%);
    box-sizing: border-box;
    border: none;
    backdrop-filter: blur(71px);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15), inset 9px 14px 20px 0px rgb(255 255 255);
    filter: opacity(0.5);
    transform: translateX(-80%);
}

.pd-t-lbl{
    position: absolute;
    bottom: 24%;
    left: 6%;
    transform: rotate(353deg);
}

.pd-b-lbl{
    position: absolute;
    bottom: 8%;
    right: 40%;
    transform: rotate(7deg);
}

.sbl-ico{
    position: absolute;
    right: 23%;
    bottom: 56%;
}

.pd-ss-sec-grad{
    position: absolute;
    bottom: 5%;
    left: -6%;
    width: 100%;
}

.pd-ss-sec-grad svg{
    width: 111%;
    height: 100%;
}

.pd-ss-sec-grad img{
    position: absolute;
    bottom: -6%;
}

.pd-serv-sld-sec .container-fluid,
.pd-serv-sld-sec .container{
    position: relative;
    z-index: 99;
}

.pd-ssslider-btn-wrapper{
    text-align: right;
    margin-top: 2rem;
}


.pd-ssslider-btn-wrapper button{
    border: none;
    margin-left: auto;
    display: inline-block;
    background: transparent;
}

/* worldwide section */
.pd-wordwide-sec{
    padding-top: 5%;
    padding-bottom: 0%;
    position: relative;
}

.pd-join-us-sec .pd-ss-titl h2,
.pd-wordwide-sec .pd-ss-titl h2{
    text-align: center;
    font-family: var(--fnt-rubik);
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 1.5rem;
    color: #333333;
}

.pd-join-us-sec .pd-ss-titl h2 span,
.pd-wordwide-sec .pd-ss-titl h2 span{
    font-weight: 100;
    background: linear-gradient(95deg, #8214a2, #707EFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 300;
}



.pd-join-us-sec .pd-ss-titl p,
.pd-wordwide-sec .pd-ss-titl p
{
    font-family: var(--fnt-dmsans);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 0.8);
    color: #5B5B5C;
    max-width: 50%;
    margin: auto;
}


.pd-wordwide-sec .pd-ss-titl{
    margin-bottom: 3rem;
}


/* === join us section === */

.pd-join-us-sec{
    position: relative;
    overflow: hidden;
    min-height: 1370px;
}

.pd-join-us-sec .pd-ss-titl p{
    max-width: 33%;
}


.pd-ju-card h1{
    font-size: 96px;
font-weight: normal;
line-height: normal;
text-align: center;
letter-spacing: 0em;
background: linear-gradient(180deg, #F9FCFF 20%, rgba(249, 252, 255, 0.5) 92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.pd-ww-img-bg-1{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
}

.pd-ww-img-bg-2{
    position: absolute;
    left: 17%;
    bottom: 22%;
    z-index: 9;
    width: 50%;
}

.pd-ww-img-bg-3{
    position: absolute;
    left: 24%;
    bottom: 25%;
    transform: rotate(8deg);
}

.pd-ww-img-bg-4{
    position: absolute;
    left: 17%;
    bottom: 22%;
    width: 58%;
}

.pd-join-us-sec .container{
    position: relative;
    z-index: 999;
}