:root {
    --fnt-dmsans: "DM Sans", sans-serif;
    --fnt-rubik: "Rubik", sans-serif;
    --padding:4%;
    --paraColor:#F9FCFF;
    --paraSize:"13px";
    --defWeight:"400";
    --BlueheaderWeight:"700";
    --whiteHeaderWeight:"600";
    --siteBlue:#3D45FF;
    --sitePurple:#8A2EFF;
    --darkBg:#F9FCFF;
    --pad-top-full:8%;
    --pad-bot-full:8%;
    --darkBlueBg:#000670;
}